# Explain Dataset

#### Acc_Intakes.csv 
- Age Upon Intake: The age of the animal when it was brought to the facility
- Animal ID: A unique identifier for each animal.
- Animal Type: The species of the animal. In both examples, this is 'Dog'.
- Breed: The breed of the animal.
- Color: The color of the animal's coat.
- Datetime: The date and time when the animal was intake.
- Datetime2: This seems to be a repeat of the intake date and time
- Found Location: The location where the animal was found before being brought to the facility.
- Intake Condition: The health or physical condition of the animal at intake.
- Intake Type: The circumstances under which the animal was brought to the facility.
- Name: The name given to the animal. 
- Sex Upon Intake: The gender and reproductive status of the animal when it arrived.

#### Acc_Outcomes.csv
- Age Upon Outcome: This is the age of the animal at the time they left the facility
- Animal ID: A unique identifier assigned to each animal.
- Animal Type: The species of the animal.
- Breed: The breed of the animal.
- Color: The color of the animal's coat.
- Date of Birth: The birth date of the animal. 
- Datetime: The date and time when the animal left the facility.
- Monthyear: This seems to be a repeat of the outcome date and time
- Name: The name of the animal
- Outcome Subtype: Additional details about the outcome.
- Outcome Type: The general category of the outcome.
- Sex Upon Outcome: The gender and reproductive status of the animal when it left the facility.

# Clearn data before analyze.
#### Import pandas and numpy library

In [26]:
import pandas as pd
import numpy as np

#### Read file aac_intakes.csv and save as 'aac_intakes' dataframe

In [27]:
aac_intakes = pd.read_csv('aac_intakes.csv')
aac_intakes

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male
...,...,...,...,...,...,...,...,...,...,...,...,...
80182,10 years,A769067,Dog,Boxer Mix,Brown Brindle,2018-03-29T18:20:00.000,2018-03-29T18:20:00.000,11216 Jollyville Rd 216 in Austin (TX),Aged,Stray,NaN,Spayed Female
80183,5 years,A768934,Dog,Dachshund Wirehair/Chihuahua Shorthair,Chocolate/White,2018-03-27T14:27:00.000,2018-03-27T14:27:00.000,603 West Johanna Street in Austin (TX),Normal,Stray,NaN,Intact Male
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
80185,3 years,A675680,Dog,German Shepherd/Black/Tan Hound,Black/Brown,2014-03-31T18:10:00.000,2014-03-31T18:10:00.000,Austin (TX),Normal,Public Assist,Draco,Neutered Male
80186,1 year,A680949,Dog,Chihuahua Shorthair/Beagle,Tan,2014-06-10T11:53:00.000,2014-06-10T11:53:00.000,4605 Lyra Cir in Austin (TX),Normal,Stray,Lolo,Intact Male

#### Read file aac_outcomes.csv and save as 'aac_outcomes' dataframe

In [28]:
aac_outcomes = pd.read_csv('aac_outcomes.csv')
aac_outcomes

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
80676,1 month,A769131,Dog,Labrador Retriever Mix,Tan,2018-02-06T00:00:00,2018-04-03T18:22:00,2018-04-03T18:22:00,Bella,NaN,Adoption,Spayed Female
80677,5 years,A665594,Dog,Chihuahua Shorthair/Dachshund,Tricolor,2012-10-19T00:00:00,2018-04-03T18:18:00,2018-04-03T18:18:00,Fifi,NaN,Return to Owner,Spayed Female
80678,1 year,A769120,Dog,Labrador Retriever/Pekingese,White,2017-03-30T00:00:00,2018-04-03T18:36:00,2018-04-03T18:36:00,Subbu,NaN,Adoption,Spayed Female
80679,2 years,A764644,Dog,Blue Lacy/Labrador Retriever,Black/White,2016-01-03T00:00:00,2018-04-03T18:43:00,2018-04-03T18:43:00,*Phineas,NaN,Adoption,Neutered Male
80680,1 year,A768726,Dog,Siberian Husky Mix,Brown/White,2017-03-24T00:00:00,2018-04-03T18:36:00,2018-04-03T18:36:00,Sky,NaN,Return to Owner,Intact Female

- Update the lastest time each animal apper in dataset and save them to another dataframe

In [29]:
set(aac_outcomes['animal_type'])

{'Bird', 'Cat', 'Dog', 'Livestock', 'Other'}

### Step 1: Convert the data types
We need to convert the datat type of variables of both dataframes to appropriate types
with 'aac_intakes' dataframe, we need to convert:
- 'datetime', 'datetime2'

With 'aac_outcomes' dataframe, we need to convert:
- 'date_of_birth', 'datetime', 'monthyear'

In [30]:
aac_intakes[['datetime', 'datetime2']] = aac_intakes[['datetime','datetime2']].apply(pd.to_datetime)
aac_outcomes[['date_of_birth','datetime','monthyear']] = aac_outcomes[['date_of_birth','datetime','monthyear']].apply(pd.to_datetime)

### Step2: Collect and clean data in both dataframe

Delete all duplicated values in the 'aac_outcomes' dataframe and 'aac_intakes' dataframe

In [31]:
#drop duplicated and NA values
aac_intakes = aac_intakes.drop_duplicates()
aac_intakes = aac_intakes.dropna(subset = ['animal_id', 'datetime','datetime2'])

aac_outcomes = aac_outcomes.drop_duplicates()
aac_outcomes = aac_outcomes.dropna(subset = ['animal_id', 'date_of_birth', 'datetime', 'monthyear'])

Create 2 variables for duplicated values from both tables and Select them

In [32]:
ids_in = aac_intakes['animal_id']
ids_out = aac_outcomes['animal_id']

Duprows_aac_intakes = aac_intakes[ids_in.isin(ids_in[ids_in.duplicated()])].sort_values('animal_id')
Duprows_aac_outcomes = aac_outcomes[ids_out.isin(ids_out[ids_out.duplicated()])].sort_values('animal_id')

In [33]:
idx_in = Duprows_aac_intakes.groupby('animal_id')['datetime'].idxmax() #return the animal_id that has max date value and its index
new_idx_in = Duprows_aac_intakes.loc[idx_in] #loc takes the index

idx_out = Duprows_aac_outcomes.groupby('animal_id')['datetime'].idxmax() #return the animal_id that has max date value and its index
new_idx_out = Duprows_aac_outcomes.loc[idx_out]

In [34]:
nonDup_aac_intakes = aac_intakes.drop_duplicates(subset = ['animal_id'], keep = False)
nonDup_aac_outcomes = aac_outcomes.drop_duplicates(subset = ['animal_id'], keep = False)

### Step 3: Combine non-duplicated dataframes

In [35]:
Update_aac_intakes = pd.concat([nonDup_aac_intakes, new_idx_in])
Update_aac_outcomes = pd.concat([nonDup_aac_outcomes, new_idx_out])

In [36]:
print('New dataset after clearing step in dataframe acc_intakes.csv is',aac_intakes.shape[0], 'rows')
print('New dataset after clearing step in dataframe acc_outcomes.csv is',aac_outcomes.shape[0], 'rows')
print('Dataframe acc_intakes.csv after update have',Update_aac_intakes.shape[0], 'rows')
print('Dataframe acc_outcomes.csv after update have',Update_aac_outcomes.shape[0], 'rows')

New dataset after clearing step in dataframe acc_intakes.csv is 80161 rows
New dataset after clearing step in dataframe acc_outcomes.csv is 80671 rows
Dataframe acc_intakes.csv after update have 72365 rows
Dataframe acc_outcomes.csv after update have 72877 rows

In [37]:
aac_in = Update_aac_intakes
aac_out = Update_aac_outcomes

---

# Answers question

#### Question number 1: What is the distribution of the types of animals in the shelter?

In [38]:
aac_in.groupby(['animal_type'])[['animal_type']].count()

             animal_type
animal_type
Bird                 342
Cat                28411
Dog                39186
Livestock              9
Other               4417

#### Question number 2: Is there an area where more pets are found?. Find the top 5 location where pet are found

In [39]:
address_city = lambda address:address.split(' ')[-2]
aac_in['City'] = aac_in['found_location'].apply(address_city)
aac_in.groupby(['City'])['City'].count().sort_values(ascending = False).head(5)

City
Austin          60685
Travis           5674
Valle            1674
Manor            1287
Pflugerville     1137
Name: City, dtype: int64

#### Question number 3: What is the average number of pets found in a month in the year 2015?. Are there months where there is a higher number of animals found?

In [40]:
aac_in['month_intake'] = aac_in['datetime'].dt.month
aac_in['year_intake'] = aac_in['datetime'].dt.year

In [49]:
#The highest number of animals found in 2015
df_month = aac_in.loc[aac_in['year_intake'] == 2015].groupby(['year_intake','month_intake'])['animal_id'].count().sort_values(ascending = False).reset_index()
df_month

    year_intake  month_intake  animal_id
0          2015             6       1996
1          2015             5       1879
2          2015            10       1586
3          2015             8       1562
4          2015             7       1494
5          2015             9       1457
6          2015             4       1383
7          2015            11       1224
8          2015             3       1172
9          2015             1       1056
10         2015            12        980
11         2015             2        964

In [42]:
#The average number of pets found in a month in 2015
sum(df_month['animal_id'])/12

1396.0833333333333

#### Question number 4: What is the ratio of incoming pets vs. adopted pets

In [43]:
aac_in.groupby(['animal_type'])[['animal_type']].count()
aac_in['animal_id'].count() / aac_out[aac_out['outcome_type'] == 'Adoption']['outcome_type'].count()

2.42088184129533

In [44]:
aac_out.head(3)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07,2014-07-22 16:04:00,2014-07-22 16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06,2013-11-07 11:47:00,2013-11-07 11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31,2014-06-03 14:20:00,2014-06-03 14:20:00,*Johnny,NaN,Adoption,Neutered Male

#### Question number 5: What are the adoption rates for specific breeds?
#### Find the top 5 dog breeds in the shelter (based on count) and then find the adoption percentage of each breed.

In [45]:
aac_out[aac_out['animal_type'] == 'Dog'].groupby(['breed'])['animal_id'].count().sort_values(ascending = False).reset_index().head(5)

                       breed  animal_id
0               Pit Bull Mix       5067
1    Chihuahua Shorthair Mix       4451
2     Labrador Retriever Mix       4197
3        German Shepherd Mix       1672
4  Australian Cattle Dog Mix        963

In [46]:
aac_out[aac_out['animal_type'] == 'Dog'].groupby(['breed'])[['animal_id']].count().apply(lambda x: x / x.sum() * 100).reset_index().head(5)

                             breed  animal_id
0                Affenpinscher Mix   0.017797
1                 Afghan Hound Mix   0.002542
2  Afghan Hound/Labrador Retriever   0.002542
3                 Airedale Terrier   0.002542
4             Airedale Terrier Mix   0.035594

#### Question number 6: About how many animals are spayed/neutered each month?
#### This will help the shelter allocate resources and staff. Assume that all intact males and females will be spayed/neutered.

In [53]:
a1 = aac_out.loc[aac_out['sex_upon_outcome'].isin(['Spayed Female', 'Neutered Male'])]
a1['month_intake'] = a1['datetime'].dt.month
a1['year_intake'] = a1['datetime'].dt.year
a1.groupby(['year_intake','sex_upon_outcome','month_intake'])['animal_id'].count()

C:\Users\dongn\AppData\Local\Temp\ipykernel_20112\850336322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a1['month_intake'] = a1['datetime'].dt.month
C:\Users\dongn\AppData\Local\Temp\ipykernel_20112\850336322.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a1['year_intake'] = a1['datetime'].dt.year

year_intake  sex_upon_outcome  month_intake
2013         Neutered Male     10              475
                               11              442
                               12              523
             Spayed Female     10              447
                               11              408
                                              ...
2018         Neutered Male     4                33
             Spayed Female     1               389
                               2               348
                               3               383
                               4                42
Name: animal_id, Length: 110, dtype: int64

# Now, it your turn

#### Question number 7
How many animals in the shelter are repeats?, Which animal was returned to the shelter the most?
This means the animal has been brought in more than once.

In [48]:
aac_outcomes.groupby(['animal_id'])['animal_id'].count().sort_values(ascending = False).head(5)

animal_id
A721033    13
A706536    11
A718223    11
A738324     8
A694501     8
Name: animal_id, dtype: int64

#### Question number 8
What are the adoption rates for different colorings?
Find the top 5 colorings in the shelter (based on count) and then find the adoption percentage of each color.

#### Question number 9
What are the adoption rates for the following age groups?
- baby: 4 months and less
- young: 5 months - 2 years
- adult: 3 years - 10 years
- senior: 11+

#### Question number 10:
If spay/neuter for a dog costs $100 and a spay/neuter for a cat costs $50,
how much did the shelter spend in 2015 on these procedures?