# Data
Data for this exercise is compiled from [MyAnimeList](https://manimelist.net/) saved in file anime_info.csv and includes the following columns:
* `anime_id`: anime code on [MyAnimeList](https://manimelist.net/).
* `title` : title of the anime.
* `type` : release form (TV Series, Movie, OVA, ...).
* `source` : original source of anime (Manga, Light Novel, Game, ...).
* `episodes` : episode number.
* `duration_min` : duration of each episode (in minutes).
* `score` : anime's score on [MyAnimeList](https://manimelist.net/), compiled from user reviews.
* `studio` : production company.
* `genre` : movie genre.
* `start` : release start date.
* `finish` : release end date.

# Exercise

In [165]:
import os
import pandas as pd
os.chdir('C:\\Users\\dongn\\DongFile\\Graduate File\\JRMaster\\Community Jung Talents\\[DA] Technical Workshops\\Introduce Programming Languages Python for Data Analyst\\Lesson 4 - Simple Data Analyst with Python\\ProjectFolder')

**Question 1**: Read data from the txt file and save it as `anime_data`.

In [166]:
#df = pd.read_csv('Anime_Data.txt')
#df.to_csv('text_data', index = False)
df = pd.read_csv('text_data')
df.head(5)

,anime_id,title,type,source,episodes,duration_min,score,studio,genre,start,finish
0,11013,Inu x Boku SS,TV,Manga,12,24.0,7.63,David Production,"Comedy, Supernatural, Romance, Shounen",2012-01-13,2012-03-30
1,2104,Seto no Hanayome,TV,Manga,26,24.0,7.89,Gonzo,"Comedy, Parody, Romance, School, Shounen",2007-04-02,2007-10-01
2,5262,Shugo Chara!! Doki,TV,Manga,51,24.0,7.55,Satelight,"Comedy, Magic, School, Shoujo",2008-10-04,2009-09-25
3,721,Princess Tutu,TV,Original,38,16.0,8.21,Hal Film Maker,"Comedy, Drama, Magic, Romance, Fantasy",2002-08-16,2003-05-23
4,12365,Bakuman. 3rd Season,TV,Manga,25,24.0,8.67,J.C.Staff,"Comedy, Drama, Romance, Shounen",2012-10-06,2013-03-30

**Question 2**: Perform the necessary conversion.

In [167]:
df['start'] = pd.to_datetime(df['start'], format = '%Y-%m-%d')
df['finish'] = pd.to_datetime(df['finish'], format = '%Y-%m-%d')
df.dtypes

anime_id                 int64
title                   object
type                    object
source                  object
episodes                 int64
duration_min           float64
score                  float64
studio                  object
genre                   object
start           datetime64[ns]
finish          datetime64[ns]
dtype: object

**Question 3**: Delete lines whose start or end date is `NaT`.

In [168]:
len(df)

6311

In [169]:
df = df.dropna(subset = ['start'])
df = df.dropna(subset = ['finish'])

In [170]:
len(df)

6039

**Question 4**: Delete lines with episode number 0.

In [171]:
df = df.loc[df['episodes'] != 0]
df.head(5)

,anime_id,title,type,source,episodes,duration_min,score,studio,genre,start,finish
0,11013,Inu x Boku SS,TV,Manga,12,24.0,7.63,David Production,"Comedy, Supernatural, Romance, Shounen",2012-01-13,2012-03-30
1,2104,Seto no Hanayome,TV,Manga,26,24.0,7.89,Gonzo,"Comedy, Parody, Romance, School, Shounen",2007-04-02,2007-10-01
2,5262,Shugo Chara!! Doki,TV,Manga,51,24.0,7.55,Satelight,"Comedy, Magic, School, Shoujo",2008-10-04,2009-09-25
3,721,Princess Tutu,TV,Original,38,16.0,8.21,Hal Film Maker,"Comedy, Drama, Magic, Romance, Fantasy",2002-08-16,2003-05-23
4,12365,Bakuman. 3rd Season,TV,Manga,25,24.0,8.67,J.C.Staff,"Comedy, Drama, Romance, Shounen",2012-10-06,2013-03-30

**Question 5**: Delete lines with 0 duration.

In [172]:
df = df.loc[df['duration_min'] != 0]
df.head(5)

,anime_id,title,type,source,episodes,duration_min,score,studio,genre,start,finish
0,11013,Inu x Boku SS,TV,Manga,12,24.0,7.63,David Production,"Comedy, Supernatural, Romance, Shounen",2012-01-13,2012-03-30
1,2104,Seto no Hanayome,TV,Manga,26,24.0,7.89,Gonzo,"Comedy, Parody, Romance, School, Shounen",2007-04-02,2007-10-01
2,5262,Shugo Chara!! Doki,TV,Manga,51,24.0,7.55,Satelight,"Comedy, Magic, School, Shoujo",2008-10-04,2009-09-25
3,721,Princess Tutu,TV,Original,38,16.0,8.21,Hal Film Maker,"Comedy, Drama, Magic, Romance, Fantasy",2002-08-16,2003-05-23
4,12365,Bakuman. 3rd Season,TV,Manga,25,24.0,8.67,J.C.Staff,"Comedy, Drama, Romance, Shounen",2012-10-06,2013-03-30

**Question 6**: Print out the remaining number of anime after completing questions 3 - 5.

In [173]:
len(df)

5997

**Question 7**: Statistics on the number of anime released each year (calculated by release start date). Which year had the most anime releases in the data set?

In [174]:
df['year'] = df['start'].dt.year
df.groupby(['year'])['anime_id'].count().reset_index().max()

year        2018
anime_id     523
dtype: int64

**Question 8**: Add to the data the column `decade` which is the decade of release of the anime. Statistics on the number of anime released by decade.

In [175]:
df['decade'] = ((df['start'].dt.year // 10) * 10)
df.head(5)

,anime_id,title,type,source,episodes,duration_min,score,studio,genre,start,finish,year,decade
0,11013,Inu x Boku SS,TV,Manga,12,24.0,7.63,David Production,"Comedy, Supernatural, Romance, Shounen",2012-01-13,2012-03-30,2012,2010
1,2104,Seto no Hanayome,TV,Manga,26,24.0,7.89,Gonzo,"Comedy, Parody, Romance, School, Shounen",2007-04-02,2007-10-01,2007,2000
2,5262,Shugo Chara!! Doki,TV,Manga,51,24.0,7.55,Satelight,"Comedy, Magic, School, Shoujo",2008-10-04,2009-09-25,2008,2000
3,721,Princess Tutu,TV,Original,38,16.0,8.21,Hal Film Maker,"Comedy, Drama, Magic, Romance, Fantasy",2002-08-16,2003-05-23,2002,2000
4,12365,Bakuman. 3rd Season,TV,Manga,25,24.0,8.67,J.C.Staff,"Comedy, Drama, Romance, Shounen",2012-10-06,2013-03-30,2012,2010

**Question 9**: Add data to the `season` column to indicate the broadcast season (based on release date) of the anime with:

|Release date|Season|
|---|---|
|From January 1 to March 31|Winter-Spring|
|From April 1 to June 30|Spring|
|From July 1 to September 30|Summer|
|From October 1 to December 31|Fall|

Printing `season` has the most anime series released.

In [176]:
def get_season(date):
    if (date.month == 1 and date.day >= 1) or (date.month == 1) or (date.month == 2) or (date.month == 3 and date.day <= 31):
        return 'Winter-Spring'
    elif (date.month == 4) or (date.month == 5) or (date.month == 6 and date.day <= 30):
        return 'Spring'
    elif (date.month == 7) or (date.month == 8) or (date.month == 9 and date.day <= 30):
        return 'Summer'
    else:
        return 'Fall'

# Apply the function to create a 'Season' column based on 'Date'
df['Season'] = df['start'].apply(get_season)
df.head(5)

,anime_id,title,type,source,episodes,duration_min,score,studio,genre,start,finish,year,decade,Season
0,11013,Inu x Boku SS,TV,Manga,12,24.0,7.63,David Production,"Comedy, Supernatural, Romance, Shounen",2012-01-13,2012-03-30,2012,2010,Winter-Spring
1,2104,Seto no Hanayome,TV,Manga,26,24.0,7.89,Gonzo,"Comedy, Parody, Romance, School, Shounen",2007-04-02,2007-10-01,2007,2000,Spring
2,5262,Shugo Chara!! Doki,TV,Manga,51,24.0,7.55,Satelight,"Comedy, Magic, School, Shoujo",2008-10-04,2009-09-25,2008,2000,Fall
3,721,Princess Tutu,TV,Original,38,16.0,8.21,Hal Film Maker,"Comedy, Drama, Magic, Romance, Fantasy",2002-08-16,2003-05-23,2002,2000,Summer
4,12365,Bakuman. 3rd Season,TV,Manga,25,24.0,8.67,J.C.Staff,"Comedy, Drama, Romance, Shounen",2012-10-06,2013-03-30,2012,2010,Fall

In [177]:
df.groupby(['Season'])[['Season']].count()

               Season
Season
Fall             1665
Spring           1538
Summer           1416
Winter-Spring    1378

**Question 10**: Take out the anime whose `type` is 'TV' and use that data to answer the following questions:
1. How many anime are there in that dataset?
2. Which anime has the most episodes?
3. How many episodes are there in total?
4. Total time to watch all these anime? (calculated by hour, by day)
5. Average time per episode.
6. Calculate the average score for each decade.
7. Calculate the average score for each `seanson` and `source`.
8. Calculate the average score for each studio.
9. Calculate the correlation coefficient matrix between the columns `score`, `duration_min` and `episodes`.
10. Add column `aired_duration` which is the number of release days. *Hint*: `(end - start) / pd.Timedelta('1 days')`.
11. Print anime with the longest release time.
12. Print out the correlation coefficient between `score` and `aired_duration`.

In [178]:
quest_df = df.loc[df['type'] == 'TV']

*Question 1:*

In [179]:
len(quest_df['anime_id'].unique())

2857

*Question 2:*

In [180]:
quest_df[quest_df['episodes'] == max(quest_df['episodes'])][['anime_id', 'title']]

      anime_id       title
5262     12393  Oyako Club

*Question 3:*

In [181]:
quest_df[quest_df['episodes'] == max(quest_df['episodes'])][['anime_id', 'title', 'episodes']]

      anime_id       title  episodes
5262     12393  Oyako Club      1818

*Question 4:*

In [182]:
quest_df['total_duration_eps'] = quest_df['episodes'] * quest_df['duration_min']
quest_df['total_duration_eps'].sum()

C:\Users\dongn\AppData\Local\Temp\ipykernel_11312\1731169441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quest_df['total_duration_eps'] = quest_df['episodes'] * quest_df['duration_min']

1730161.8

*Question 5:*

In [183]:
quest_df['duration_min'].sum() / len(quest_df)

21.135095088087738

*Question 6:*

In [184]:
quest_df.groupby(['decade'])[['score']].mean()

           score
decade
1960    6.773500
1970    6.812771
1980    7.001274
1990    7.043705
2000    7.171255
2010    6.989279

*Question 7:*

In [185]:
quest_df.groupby(['Season', 'source'])[['score']].mean().reset_index().head(5)

  Season         source     score
0   Fall   4-koma manga  6.774286
1   Fall           Book  6.933333
2   Fall      Card game  6.878000
3   Fall  Digital manga  5.027500
4   Fall           Game  6.683953

*Question 8:*

In [186]:
quest_df.groupby(['studio'])[['score']].mean().head(5)

                              score
studio
10Gauge                    4.445000
8bit                       7.105000
A-1 Pictures               7.429865
A-1 Pictures, Bridge       8.130000
A-1 Pictures, CloverWorks  7.130000

*Question 9:*

In [187]:
quest_df[['score', 'duration_min', 'episodes']].corr()

                 score  duration_min  episodes
score         1.000000      0.475094  0.028684
duration_min  0.475094      1.000000 -0.027509
episodes      0.028684     -0.027509  1.000000

*Question 10:*

In [188]:
# (end - start) / pd.Timedelta('1 days')
quest_df['aired_duration'] = (quest_df['finish'] - quest_df['start']) / pd.Timedelta('1 days')

C:\Users\dongn\AppData\Local\Temp\ipykernel_11312\1922219412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quest_df['aired_duration'] = (quest_df['finish'] - quest_df['start']) / pd.Timedelta('1 days')

*Question 11:*

In [189]:
quest_df[quest_df['aired_duration'] == max(quest_df['aired_duration'])][['anime_id','title']]

      anime_id            title
5095      2471  Doraemon (1979)

*Question 12:*

In [190]:
quest_df[['score','aired_duration']].corr()

                   score  aired_duration
score           1.000000        0.040876
aired_duration  0.040876        1.000000

**Question 11**: Fulfill the following requirements:
1. Take out the anime whose `type` is 'Movie' and name it `movie`.
2. Delete the columns `type`, `episodes`, `duration_min`, `start` and `finish` from `movie`.

In [191]:
movie = quest_df.loc[quest_df['type'] != 'Movie']
movie = movie.drop(columns = ['type', 'episodes', 'duration_min', 'start', 'finish'])
len(movie)

2857

As can be seen, the `genre` of anime is a list of many different genres. This makes it difficult to synthesize information by each `genre`. Therefore, the `genre` column must be decomposed so that each row contains only 1 `genre` as shown:
![Explode](https://www.w3resource.com/w3r_images/pandas-dataframe-explode-1.png)

In [192]:
movie['genre'] = movie['genre'].str.split(',')
movie = movie.explode('genre')

**Question 12**: Fulfill the following requirements:
1. Statistics on the number of `genre`.
2. Print out the average score and number of anime for each `genre`.
3. Average score statistics by `studio` and `genre`.

In [193]:
movie.groupby(['genre'])[['genre']].count().head(5)

            genre
genre
 Adventure    341
 Cars          14
 Comedy       786
 Dementia       6
 Demons        93

In [194]:
movie.groupby(['genre'])[['score']].mean().head(5)

               score
genre
 Adventure  7.174839
 Cars       7.025000
 Comedy     7.129148
 Dementia   7.796667
 Demons     7.350215

In [202]:
movie.groupby(['studio'])[['score']].mean().reset_index().head(5)

                      studio     score
0                    10Gauge  4.445000
1                       8bit  7.073750
2               A-1 Pictures  7.515845
3       A-1 Pictures, Bridge  8.130000
4  A-1 Pictures, CloverWorks  7.130000