performed by: Quang Dong Nguyen
provided by: Jung Talents

# REVIEW YOUR KNOWLEDGE OF PYHTON SYNTAX

#### Vietnamese: 
Dữ liệu bài này được lấy từ https://www.kaggle.com/rtatman/animal-bites

Thông tin các cột:
- bite_date: Ngày nạn nhân bị cắn
- SpeciesIDDesc: Loài của con vật gây vết cắn (ví dụ chó, mèo, ...)
- BreedIDDesc: Giống nếu có (ví dụ giống PIT BULL của loài chó)
- GenderIDDesc: Giới tính của con vật
- color: Màu sắc con vật
- vaccination_yrs: Số năm kể từ lần cuối con vật được tiêm ngừa
- vaccination_date: Lần cuối con vật được tiêm ngừa
- victim_zip: Mã zipcode của nạn nhân
- AdvIssuedYNDesc: Nạn nhân có nhận được lời khuyên từ bác sĩ
- WhereBittenIDDesc: Vị trí bị cắn
- quarantine_date: Ngày con vật bị nhốt lại nếu có
- DispositionIDDesc: Hành động của nhà chức trách với con vật
- head_sent_date: Ngày con vật được đưa đến phòng nghiên cứu để kiểm tra bệnh dại nếu có
- release_date: Ngày con vật được thả ra nếu có
- ResultsIDDesc: Kết quả kiểm tra bệnh dại nếu có

#### English
Data for this article is taken from https://www.kaggle.com/rtatman/animal-bites

Column information:
- bite_date: Date the victim was bitten
- SpeciesIDDesc: Species of the animal causing the bite (eg dog, cat, ...)
- BreedIDDesc: Breed if any (eg PIT BULL dog breed)
- GenderIDDesc: Gender of the animal
- color: Color of the animal
- vaccination_yrs: Number of years since the animal was last vaccinated
- vaccination_date: The last time the animal was vaccinated
- victim_zip: Victim's zipcode
- AdvIssuedYNDesc: Did the victim receive advice from a doctor
- WhereBittenIDDesc: Location of being bitten
- quarantine_date: The date the animal was confined, if any
- DispositionIDDesc: Action of the authorities with the animal
- head_sent_date: Date the animal was brought to the research room to be tested for rabies, if any
- release_date: Date the animal was released, if any
- ResultsIDDesc: Rabies test results, if any

#### Vietnamese
*Câu 1*

a) Đọc file Health_animalBites.csv và lưu vào biến `bites`.

b) Thực hiện các chuyển đổi dữ liệu cần thiết. Để xử lý lỗi, tìm hiểu tham số errors. Đặt lại tham số errors thành chuỗi ký tự thích hợp để chuyển các giá trị lỗi về NaT. https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

#### English
*Question 1*

a) Read the file Health_animalBites.csv and save it to the variable `bites`.

b) Perform necessary data conversions. To handle errors, look at the errors parameter. Reset the errors parameter to the appropriate character string to convert error values to NaT. https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [147]:
import pandas as pd

In [148]:
bites = pd.read_csv("Data_Bites.csv")
bites['bite_date'] = pd.to_datetime(bites['bite_date'], errors = 'coerce') # invalid parsing will be set as NaT
bites['vaccination_date'] = pd.to_datetime(bites['vaccination_date'], errors = 'coerce')
bites['quarantine_date'] = pd.to_datetime(bites['quarantine_date'], errors = 'coerce')
bites['head_sent_date'] = pd.to_datetime(bites['head_sent_date'], errors = 'coerce')
bites['release_date'] = pd.to_datetime(bites['release_date'], errors = 'coerce')
bites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9003 entries, 0 to 9002
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bite_date          8685 non-null   datetime64[ns]
 1   SpeciesIDDesc      8885 non-null   object
 2   BreedIDDesc        3759 non-null   object
 3   GenderIDDesc       6477 non-null   object
 4   color              6426 non-null   object
 5   vaccination_yrs    3738 non-null   float64
 6   vaccination_date   4115 non-null   datetime64[ns]
 7   victim_zip         7165 non-null   object
 8   AdvIssuedYNDesc    2565 non-null   object
 9   WhereBittenIDDesc  8387 non-null   object
 10  quarantine_date    2020 non-null   datetime64[ns]
 11  DispositionIDDesc  1535 non-null   object
 12  head_sent_date     395 non-null    datetime64[ns]
 13  release_date       1445 non-null   datetime64[ns]
 14  ResultsIDDesc      1543 non-null   object
dtypes: datetime64[ns](5), float64(1), object(9)
memory usage: 1.0+ MB

#### Vietnamese
*Câu 2*

a) Lọc ra các dòng từ DataFrame `bites` không có giá trị NaN ở các cột SpeciesIDDesc và BreedIDDesc và lưu vào biến mới là `species`.

b) Trong DataFrame `species` có những loài nào? Mỗi loài có bao nhiêu giống?

#### English
*Question 2*

a) Filter out lines from the DataFrame `bites` that do not have NaN values in the SpeciesIDDesc and BreedIDDesc columns and store them in a new variable `species`.

b) What species are in the DataFrame `species`? How many varieties are there for each species?

In [149]:
set(bites['SpeciesIDDesc'])

{'BAT',
 'CAT',
 'DOG',
 'FERRET',
 'HORSE',
 'OTHER',
 'RABBIT',
 'RACCOON',
 'SKUNK',
 nan}

In [150]:
species = bites.loc[bites['SpeciesIDDesc'].notna() & bites['BreedIDDesc'].notna()]
set(species['SpeciesIDDesc']) #there are two, which are Cat and Dog.
species.groupby(['SpeciesIDDesc'])['BreedIDDesc'].nunique() #There are 101 types of Dogs and only 2 types of catsty.

SpeciesIDDesc
CAT      2
DOG    101
Name: BreedIDDesc, dtype: int64

#### Vietnamese
*Câu 3*

a) Trong DataFrame `species`, giống chó nào là phổ biến nhất?

b) Trong những con chó có màu đen, giống chó nào là phổ biến nhất?

#### English
*Question 3*

a) In the `species` DataFrame, which dog breed is the most popular?

b) Among black dogs, which breed is the most popular?

In [151]:
#Question 3 - a:
species.groupby(['SpeciesIDDesc','BreedIDDesc'])['BreedIDDesc'].count().sort_values(ascending = False).reset_index(name = 'count').head(3)
#Among dog breeds, Pit Bull is the most popular dog type

  SpeciesIDDesc      BreedIDDesc  count
0           DOG         PIT BULL   1101
1           DOG    GERM SHEPHERD    327
2           DOG  LABRADOR RETRIV    253

In [152]:
black_dog_sp = species.loc[(species['SpeciesIDDesc'] == 'DOG') & (species['color'] == 'BLACK')]
black_dog_sp.groupby(['SpeciesIDDesc', 'BreedIDDesc'])['BreedIDDesc'].count().sort_values(ascending = False).reset_index(name = 'count').head(1)
#Labrador Retriever is the most popular one among black dogs.

  SpeciesIDDesc      BreedIDDesc  count
0           DOG  LABRADOR RETRIV     76

#### Vietnamese
*Câu 4*

a) Trở lại với DataFrame `bites`, trong năm 2015 có bao nhiêu vụ cắn người đã được ghi nhận?

b) Trong số các vụ cắn này, in thông tin những vụ __không__ được xác nhận là gây ra bởi chó hoặc mèo.

*Question 4*

a) Returning to the `bites` DataFrame, how many human bites were recorded in 2015?

b) Of these bites, print information about those that are __not__ confirmed to have been caused by dogs or cats.

In [153]:
bites['year_bitten'] = bites['bite_date'].dt.year
bites.loc[bites['year_bitten'] == 2015].groupby(['year_bitten'])['year_bitten'].count().reset_index(name = 'bite count')

   year_bitten  bite count
0       2015.0         985

#### Vietnamese
*Câu 5*

a) Liệt kê các vị trí cắn trong data, không tính giá trị NaN và UNKNOWN.

b) Loài vật nào __không__ được ghi nhận đã cắn vào đầu nạn nhân?

Gợi ý:

Cách 1: Dùng `~` để đảo giá trị True False và hàm `isin()`.

Cách 2: Dùng `set`. Set trong Python có thể trừ nhau để lọc các giá trị khác biệt.

#### English
*Question 5*

a) List bite locations in the data, excluding NaN and UNKNOWN values.

b) Which animal __wasn't recorded biting a victim on the head?

Suggest:

Method 1: Use `~` to invert the True False value and the `isin()` function.

Method 2: Use `set`. Sets in Python can be subtracted from each other to filter out distinct values.

In [176]:
#Question 5 - a: Answer
bite_loc = bites[(bites['WhereBittenIDDesc'].notna()) & (bites['WhereBittenIDDesc'] != 'UNKNOWN')]
set(bite_loc['WhereBittenIDDesc'])


#Question 5 - b: Answer
bite_loc[bite_loc['WhereBittenIDDesc'] != 'HEAD']

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,year_bitten
0,1985-05-05,DOG,NaN,FEMALE,LIG. BROWN,1.0,1985-06-20,40229,NO,BODY,1985-05-05,UNKNOWN,NaT,NaT,UNKNOWN,1985.0
1,1986-02-12,DOG,NaN,UNKNOWN,BRO & BLA,NaN,NaT,40218,NO,BODY,1986-02-12,UNKNOWN,NaT,NaT,UNKNOWN,1986.0
2,1987-05-07,DOG,NaN,UNKNOWN,NaN,NaN,NaT,40219,NO,BODY,1990-05-07,UNKNOWN,NaT,NaT,UNKNOWN,1987.0
3,1988-10-02,DOG,NaN,MALE,BLA & BRO,NaN,NaT,NaN,NO,BODY,1990-10-02,UNKNOWN,NaT,NaT,UNKNOWN,1988.0
4,1989-08-29,DOG,NaN,FEMALE,BLK-WHT,NaN,NaT,NaN,NO,BODY,NaT,UNKNOWN,NaT,NaT,UNKNOWN,1989.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8993,2017-09-04,DOG,CANE CORSO,MALE,BLACK,NaN,NaT,40219,NaN,BODY,NaT,NaN,NaT,NaT,NaN,2017.0
8995,2017-09-04,DOG,BLACK LAB,MALE,BLACK,NaN,NaT,40229,NaN,BODY,NaT,NaN,NaT,NaT,NaN,2017.0
8996,2017-09-04,DOG,NaN,NaN,NaN,NaN,NaT,40214,NaN,BODY,NaT,NaN,NaT,NaT,NaN,2017.0
9001,2017-09-07,DOG,LABRADOR RETRIV,FEMALE,BLK WHT,NaN,NaT,40229,NaN,BODY,NaT,NaN,NaT,NaT,NaN,2017.0
9002,2017-09-07,DOG,BOXER,NaN,BRN BLK,NaN,NaT,40229,NaN,BODY,NaT,NaN,NaT,NaT,NaN,2017.0

#### Vietnamese
*Câu 6*

a) Trong dữ liệu, có bao nhiêu con vật âm tính với bệnh dại (NEGATIVE) đã bị giết (KILLED) hoặc chết (DIED)? Gợi ý: Sử dụng `&` và `|`.

b) Trong khoảng thời gian từ 2010 đến 2015 chó chiếm bao nhiêu phần trăm số vụ cắn người trong dữ liệu?

#### English
*Question 6*

a) In the data, how many rabies-negative (NEGATIVE) animals were killed (KILLED) or died (DIED)? Hint: Use `&` and `|`.

b) Between 2010 and 2015, what percentage of human bites in the data did dogs account for?

In [200]:
rabbies_result = bites[(bites['ResultsIDDesc'] == 'NEGATIVE') & (bites['DispositionIDDesc'] == 'KILLED') | (bites['DispositionIDDesc'] == 'DIED')]
rabbies_result.groupby(['ResultsIDDesc', 'DispositionIDDesc'])['DispositionIDDesc'].count().reset_index(name = 'Count Result')

  ResultsIDDesc DispositionIDDesc  Count Result
0      NEGATIVE              DIED             3
1      NEGATIVE            KILLED            13

#### Vietnamese
*Câu 7*

a) Tính số năm tiêm ngừa trung bình của các con vật (không tính các dòng có giá trị `NaN` tại cột này).

b) Trong năm 2017 có bao nhiêu vụ tấn công trong đó con vật tấn công là chó `BOXER`?

#### English
*Question 7*

a) Calculate the average number of years vaccinated for the animals (do not count lines with the value `NaN` in this column).

b) In 2017, how many attacks were there in which the attacking animal was a `BOXER` dog?

In [207]:
#Question 7 - a: Asnwer
vaccinated_b = bites[bites['vaccination_yrs'].notna()]
vaccinated_b['vaccination_yrs'].mean()

1.4521134296415195

In [275]:
#Question 7 - b: Answer
bites[bites['BreedIDDesc'] == 'BOXER'].groupby(['BreedIDDesc'])['BreedIDDesc'].count().reset_index(name = 'Count')

,bite_date,SpeciesIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc,year_bitten
BreedIDDesc,,,,,,,,,,,,,,,
BOXER,181,181,154,157,107,115,152,30,172,17,7,1,60,1,181

#### Vietnamese
*Câu 8*

Trong các năm từ 2010 đến 2016, __giống__ nào của __loài__ nào đã gây ra nhiều vụ cắn nhất? Không tính các dòng có giá trị `NaN` hoặc `UNKNOWN` tại 2 cột này. Gợi ý: Nên chia thành nhiều bước.

#### English
*Question 8*

In the years 2010 to 2016, which __varieties__ of __species__ caused the most bites? Do not count rows with the value `NaN` or `UNKNOWN` in these two columns. Suggestion: Should be divided into several steps.

In [236]:
year_b = bites[(bites['SpeciesIDDesc'].notna()) & (bites['BreedIDDesc'].notna())]
year_b = year_b[(year_b['year_bitten'] >= 2010) & (year_b['year_bitten'] <= 2016)]
year_b.groupby(['SpeciesIDDesc', 'BreedIDDesc'])['SpeciesIDDesc'].count().sort_values(ascending = False).reset_index(name = 'Bite Count')

   SpeciesIDDesc      BreedIDDesc  Bite Count
0            DOG         PIT BULL         915
1            DOG    GERM SHEPHERD         282
2            DOG  LABRADOR RETRIV         205
3            DOG            BOXER         148
4            DOG       CHICHAUHUA         144
..           ...              ...         ...
95           DOG  FOX TERRIER MIX           1
96           DOG    IRISH SPANIEL           1
97           DOG       RED HEELER           1
98           DOG         MALAMUTE           1
99           CAT            OTHER           1

[100 rows x 3 columns]

#### Vietnamese
*Câu 9*

a) Có bao nhiêu con vật đã được ghi nhận ngày được đưa đến phòng nghiên cứu?

b) Trong số các con vật này thì chó chiếm bao nhiêu phần trăm?

#### English
*Question 9*

a) How many animals were recorded when they were brought to the research lab?

b) Among these animals, what percentage do dogs account for?

In [256]:
# Question 9 - a: Answer
bites['SpeciesIDDesc'].count() #total number of animals

8885

In [255]:
# Question 9 - b: Answer
bites['SpeciesIDDesc'][bites['SpeciesIDDesc'] == 'DOG'].count()/ bites['SpeciesIDDesc'].count() * 100
#dogs accounted for 79% of the total bites recorded by the lab.

79.11086100168824

#### Vietnamese
*Câu 10*

a) Có bao nhiêu con chó đã được ghi nhận ngày thả?

b) Trong số đó có bao nhiêu con được ghi nhận đã chích ngừa ít nhất 1 năm?

#### English
*Question 10*

a) How many dogs have recorded release dates?

b) Among them, how many were recorded to have been vaccinated for at least 1 year?

In [276]:
# Question 10 - a: Answer
release_dog_b = bites[(bites['SpeciesIDDesc'] == 'DOG') & (bites['release_date'].notna())]
release_dog_b['SpeciesIDDesc'].shape[0]

1249

In [277]:
# Question 11 - b: Answer
release_dog_b = release_dog_b[release_dog_b['vaccination_yrs'].notna()]
release_dog_b['SpeciesIDDesc'].shape[0]

943